#body {
    text-align: center;
    /* width: 100%; */
}



.quizdiv {
    border: #cccccc 2px solid;
    margin: auto;
    width: 600px;
    height: 375px;
}

header {
    text-align: center;
}

#scorebtn {
margin-left: 1111px;
}

#timer {
    margin-right: 1111px;
}